<a href="https://colab.research.google.com/github/21Maryori/ejercicio_colab2/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ejercicio 1 - carga de un archivo CSV desde drive

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQsh9DWl1tuYi_h-lHs--0KeYMfJDsknz2pcPKDGkxanbEqeJmpOeCFyEZgtk4N-jJwXdMYoABkmlbI/pub?gid=809929482&single=true&output=csv")

In [ ]:
datos

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300

In [ ]:
suma_ingresos = datos['ingresos'].sum()

print("La suma de los ingresos es:", suma_ingresos)

La suma de los ingresos es: 76180

In [ ]:
#obtenemos el promedio de las edades de las personas de la lista
promedio_edades = datos['edad'].mean()

print("El promedio de las edades es:", int (promedio_edades))

El promedio de las edades es: 31

In [ ]:
promedio_ciudad=datos.groupby('ciudad')['ingresos'].mean().astype(int);

print(promedio_ciudad)

ciudad
Arequipa    4040
Cusco       2975
Juliaca     4990
Lima        3366
Puno        1300
Trujillo    2520
Name: ingresos, dtype: int64

In [ ]:
personas_arequipa=datos[datos['ciudad']=='Arequipa']
print(personas_arequipa)

      nombre  edad    ciudad  ingresos
1      María    28  Arequipa      3800
4      Pedro    28  Arequipa      3200
10  Gabriela    33  Arequipa      4000
15    Javier    32  Arequipa      5000
21      José    34  Arequipa      4200

In [ ]:
joven=datos.loc[datos['edad']==datos['edad'].min(),"nombre"].values[0]
print(joven);

Micaela

In [ ]:
mayor=datos.loc[datos['edad']==datos['edad'].max(),"nombre"].values[0]
print(mayor);

Leonel

In [ ]:
joven=datos.loc[datos['edad']==datos['edad'].min()].values[0]
print(joven);

['Micaela' 21 'Juliaca' 5000]

In [ ]:
mayor=datos.loc[datos['edad']==datos['edad'].max()].values[0]
print(mayor);

['Leonel' 64 'Juliaca' 4980]

In [ ]:
trabajadores_por_ciudad = datos['ciudad'].value_counts().sort_values()

print("Cantidad de personas que trabajan por ciudad:")
print(trabajadores_por_ciudad)

Cantidad de personas que trabajan por ciudad:
Puno        1
Juliaca     2
Cusco       4
Arequipa    5
Trujillo    5
Lima        6
Name: ciudad, dtype: int64

In [ ]:
listado_ordenado_por_edad = datos.sort_values(by='edad')[['nombre', 'edad']]

print("Listado ordenado por edad (de menor a mayor):")
print(listado_ordenado_por_edad)

Listado ordenado por edad (de menor a mayor):
       nombre  edad
11    Micaela    21
3         Ana    22
20      Lucía    23
12      Diego    24
7      Carlos    25
13  Valentina    26
9      Andrés    27
1       María    28
4       Pedro    28
18   Fernanda    28
16    Daniela    29
8       Sofía    29
14     Lorena    30
0        Juan    30
6       Laura    31
17     Manuel    31
15     Javier    32
10   Gabriela    33
21       José    34
19    Ricardo    35
2        Luis    35
22      Willy    55
5      Leonel    64

In [ ]:
listado_ordenado_por_edad = datos.sort_values(by='edad', ascending=False)[['nombre', 'edad']]

print("Listado ordenado por edad (de mayor a menor):")
print(listado_ordenado_por_edad)

Listado ordenado por edad (de mayor a menor):
       nombre  edad
5      Leonel    64
22      Willy    55
2        Luis    35
19    Ricardo    35
21       José    34
10   Gabriela    33
15     Javier    32
6       Laura    31
17     Manuel    31
14     Lorena    30
0        Juan    30
8       Sofía    29
16    Daniela    29
1       María    28
18   Fernanda    28
4       Pedro    28
9      Andrés    27
13  Valentina    26
7      Carlos    25
12      Diego    24
20      Lucía    23
3         Ana    22
11    Micaela    21